.title_section {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
