.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .signup_container {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
  
  .signup_link {
    color: var(--color-primary);
  }
  
  .title2 {
    color:blue
  }